@page "/"

<PageTitle>HelpMeNow</PageTitle>
<body>

<div class="center">
	<img class=align-content-center src="https://systell.pl/wp-content/uploads/2020/06/2.png">
</div>

<div class="title">
	<h1>HelpMeNow</h1>
	<h2>Twój system ticketowy</h2>
</div>


<br />
<br />

<AuthorizeView>
	<h3>Witaj @context.User.Identity.Name</h3>
</AuthorizeView>

<h4>Wybierz czynność, którą chcesz wykonać za pomocą menu po lewej stronie.
</h4>

</body>


