h1 {
    margin: 0% 35% 1% 35%;
    font-weight: 500;
    text-align: center;
    font-family: Helvetica, sans-serif;
    border: 4px ridge;
    border-color: #93BEDF;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 8px 8px lightgrey;
    background-color: white;
}

table {
    table-layout: fixed;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    background: #29638E;
    text-align: center;
    font-family: sans-serif;
    font-weight: 500;
    color: azure;
    text-shadow: -2px -2px 0 #4b4d52;
}

body {
    background-color: #C5EAFB;
    min-height: 100vh;
}
